apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ cssr_name | lower }}-preferences
  namespace: {{ cssr_namespace }}
data:
  preferences.json: |
    {
    "node-name": "{{ cssr_pod_name }}",
    "node-role": "combo",
    "router-name": "{{ cssr_routername }}",
    "pdc-key-comment": "{{ cssr_routername }}",
    "bypass-compliance": true,
    "disable-tuning": true,
    "conductor": {"primary":{"ip":"{{ cssr_conductor_ip }}"}},
    "admin-password": "{{ cssr_node_password | password_hash('sha512', cssr_node_salt) }}"
    }
