apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    app: {{ cssr_namespace }}-{{ cssr_name }}
  name: {{ cssr_name }}-modules 
  namespace: {{ cssr_namespace }}
spec:
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: 512Mi
  storageClassName: ocs-storagecluster-cephfs
  volumeMode: Filesystem
