---
apiVersion: v1
kind: Pod
metadata:
  name: {{ cssr_name | lower }}
  namespace: {{ cssr_namespace }}
  labels:
    app: {{ cssr_name | lower }}
  annotations:
    k8s.v1.cni.cncf.io/networks: '[
      { "name": "ens1f0-macvlan" },
      { "name": "ens2f0-macvlan" }
    ]'
spec:
#  imagePullSecrets:
#    - name: quay-secret
  containers:
  - name: 128t
    securityContext:
       privileged: true
    image: quay.io/juniper-128t/128t-5121:latest
    env:
    volumeMounts:
#    - mountPath: "/var/128technology"
#      name: 128t-5121-var-volume
    - name: modules
      mountPath: "/usr/lib/modules"
    - name: dev
      mountPath: "/dev"
    - name: hugepage
      mountPath: /hugepages
    - name: salt-minion-id
      mountPath: /etc/salt/minion_id
      subPath: minion_id
    - name: cssr-preferences
      mountPath: /etc/preferences.json
      subPath: preferences.json
    resources:
      requests:
        cpu: "2"
      limits:
        cpu: "2"
        hugepages-2Mi: "4Gi"
  volumes:
  - name: modules
    hostPath:
     path: /usr/lib/modules
     type: Directory
  - name: dev
    hostPath:
     path: /dev
     type: Directory
  - name: hugepage
    emptyDir:
      medium: HugePages
  - name: salt-minion-id
    configMap:
      name: {{ cssr_name | lower }}-salt-id
  - name: cssr-preferences
    configMap:
      name: {{ cssr_name | lower }}-preferences
