#jinja2: trim_blocks:False
                        {
                            "name": "lan{{ cssr_site_id }}{{ item.dept_id }}",
                            "targetInterface": "net1.{{ cssr_client_id }}.{{ cssr_site_id }}{{ item.dept_id }}",
                            "bridgeName": "net1_br{{ cssr_site_id }}{{ item.dept_id }}",
                            "networkInterface": [
                                {
                                    "name": "lan{{ cssr_site_id }}{{ item.dept_id }}-int",
                                    "tenant": "lan{{ cssr_site_id }}{{ item.dept_id }}.{{ site }}.{{ cssr_client }}",
                                    "interRouterSecurity": "external",
                                    "address": [
                                        {
                                            "ipAddress": "{{ item.ip_addr }}",
                                            "prefixLength": 24,
                                            "gateway": "{{ item.gateway }}",
                                            "hostService": [
                                                {
                                                    "serviceType": "ssh"
                                                }
                                            ]
                                        }
                                    ],
                                    "sourceNat": true,
                                    "icmp": "allow"
                                }
                            ],
                            "type": "bridged"
                        }
